-e .
mlflow[extras]
boto3
requests
elasticsearch
elasticsearch-dsl
elastic-transport
doccano-client
requests-toolbelt==1.0.0 # Required for doccano-client
vcrpy==4.4.0             # Required for doccano-client