# Environmental variables for docker-compose.yml

# MinIO
MINIO_ROOT_USER=DEVACCESSKEY 
MINIO_ROOT_PASSWORD=DEVSECRETKEY

# Doccano
DOCCANO_ADMIN_USERNAME=admin
DOCCANO_ADMIN_PASSWORD=adminpw
DOCCANO_ADMIN_EMAIL=admin@admin.com